[project]
	description = Sample
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/LeelaPadmaja
[access "refs/for/refs/*"]
	read = group user/LeelaPadmaja
	push = group user/LeelaPadmaja
	label-Code-Review = -2..+2 group user/LeelaPadmaja
	label-Verified = -1..+1 group user/LeelaPadmaja
	rebase = group user/LeelaPadmaja
	removeReviewer = group user/LeelaPadmaja
	submit = group user/LeelaPadmaja
[access "refs/heads/*"]
	read = group user/LeelaPadmaja
	create = group user/LeelaPadmaja
	push = +force group user/LeelaPadmaja
	pushMerge = group user/LeelaPadmaja
[access "refs/tags/*"]
	push = +force group user/LeelaPadmaja
	pushTag = group user/LeelaPadmaja
	pushSignedTag = group user/LeelaPadmaja
